.backgroundImage {
    background-image: url('../../public/assets/images/Screenshot 2025-10-05 174906.png');
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
}

/*.sponsorImage {
    background-image: url('../../public/assets/images/Screenshot 2025-10-05 174906.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}*/

@keyframes rotateYWithPause {
    0% {
        transform: rotateY(0deg);
    }

    2.17% {
        /* 4s of 184s total = 2.17% */
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.rotating-3d-pause {
    animation: rotateYWithPause 184s linear infinite;
    transform-style: preserve-3d;
}
